# Node / Frontend
frontend/node_modules
frontend/dist
frontend/.angular
# Maven / Backend
backend/target
backend/.idea
backend/.project
backend/.classpath
# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

node_modules